<h1 font>Boleto</h1>

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/1200px-QR_code_for_mobile_English_Wikipedia.svg.png" width="30%" height="30%"
>
<p>--------------------- Ticket 1--------------------- </p>
<h3>Nombre</h3>
<h2>{{Nombre}}</h2> 
<h3>Correo </h3>
<h2>{{correo}}</h2>

<h4>Asiento: </h4>
<h4>Mud Run B14 asiento 6</h4>

<h4>Evento </h4>
<p>Concierto tribuna 
<br>Cuarteto de nos 
<br> Registro por tranferencia <br> </p>

<table>
 <tr>
  <td>Fecha: <br> 22 de agosto del 2022</td>
  <td>Hora: <br> 15h30</td>
 </tr>
 <tr>
  <td>Lugar: <br>Estadio </td>
  <td>Numero de personas: <br> 1</td>
 </tr>
</table>


