
div.adelante{
    text-align: left;
    background-image: url(https://i.pinimg.com/originals/ce/8b/82/ce8b820af3418338a39e1c6d4933fd39.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    padding: 20px 20px 20px 20px ;
    
}